@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-animated-text {
  background: linear-gradient(-45deg, #104c6c, #bf48e7, #ff0086, #104c6c);
  background-size: 400% 400%;
  transition: background-position 0.3s ease;
}

.custom-animated-text:hover {
  -webkit-text-fill-color: white;
  animation: gradient 6s linear infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.swipeable-list-item__leading-actions,
.swipeable-list-item__trailing-actions {
  @apply text-white text-lg uppercase font-bold;
}
.swipeable-list-item__leading-actions {
  @apply bg-primary;
}
.swipeable-list-item__trailing-actions {
  @apply bg-secondary;
}
.swipeable-list .swipe-action {
  @apply flex justify-center items-center;
}
